<div class="row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>LOGIN</h2>
        <div class="form-group">
            <!-- <label>Email</label> -->
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email">
            <!-- <div *ngIf="submitted && loginForm.controls.email.errors" class="error">
                <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
            </div> -->
        </div>
        <div class="form-group">
            <!-- <label>Password</label> -->
            <input type="pwd" class="form-control" formControlName="password" id="pwd" placeholder="Password">
            <!-- <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
                <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
            </div> -->
        </div>
        <button class="btn-default">Login</button>
        <!-- <div *ngIf="invalidLogin" class="error">
            <div>Invalid credentials.</div>
        </div> -->
    </form>
</div>